*body{
    margin: 0;
}
/* shared */
.display-flex {
    display: flex;
}

.regular {
    color: rgba(0, 0, 0, 0.5);
}

.tittle-color {
    color: #E95A08;
}


/* Navbar */
.nav-mobile {
    display: none;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 30px 150px 100px;
}

.navbar img {
    max-height: 50px;
}

.nav-links {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-item {
    list-style: none;
    margin-right: 48px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    text-decoration: none;
    font-size: 1.18rem;

}

.cart {
    display: flex;
    gap: 5px;
    color: #252432;
}

.cart img {
    height: 22px;
    width: auto;

}

.home {
    font-weight: 700;
    color: #252432;
}



/* Banner  */
.banner {
    justify-content: space-between;
    align-items: flex-end;
    margin: 50px 150px 30px;

}

.banner-tittle {
    font-size: 4rem;
    font-weight: 700;
}


.banner img {
    width: 100%;
}

/* plant items */
.plants {
    margin: 0 150px;
    text-align: center;
}

.plants-tittle {
    font-size: 3rem;
    font-weight: 700;
}

.plants .regular {
    padding: 0 150px;
}

/* plantbox container */

.plant-box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
}

/* plant box */

.plant-box {
    text-align: center;
    width: 100%;
    max-width: 270px;

}


.plant-box img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.plant-name {
    font-size: 1.22rem;
    color: #111111;
    margin-top: 0;
    margin-bottom: 20px;
}

.plant-price {
    font-size: 1.22rem;
    color: #111111;
    margin-bottom: 30px;
    margin-top: 0;
}

.btn-add-to-cart {
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 10px 16px;
    width: 100%;
    cursor: pointer;
}

/* plants lover */

.plants-lover {
    align-items: center;
    justify-content: space-between;
    margin: 100px 150px;
    gap: 60px;
}

.plants-lover img {
    max-width: 100%;
    height: auto;
}


.plants-lover-tittle {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;

}

.plants-lover-description ul {
    padding-left: 20px;

}

.plants-lover-description li {
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.line-break {
    display: block;
}

.join {
    width: 100%;
    height: 400px;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;      
}

.join-tittle{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom:20px;
}
.join-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.email {
    margin: 0;
    padding: 16px 16px;
    border: none;
    width: 40%;     
}

.btn-subscribe {
    background-color: #E95A08;
    color: white;
    border: none;
    margin: 0;
    padding: 16px 16px;
    width: 15%; 
    cursor: pointer;
}




/* responsive for mobile */

@media screen and (max-width:576px) {
    .nav-not-mobile {
        display: none;
    }

    .nav-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
        gap: 10px;
    }

    .navbar {
        margin: 0 16px;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }

    .banner {
        flex-direction: column-reverse;
        margin: 0;
    }

    .banner-tittle {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .plants {
        margin: 0 20px;
    }

    .plants .regular {
        padding: 0;
    }

    .plant-box-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .plant-box {
        width: 100%;
        max-width: 270px;
    }

    .plants-lover{
        flex-direction: column;
        margin: 0;
        margin-top: 30px;
    }
    .plants-lover-description{
        margin-top: -50px;
    }

    .line-break {
            display: inline;
        }
}